{##
 # activity_chart.twig
 # 
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>{{ constant('APPNAME')|ucwords }}</title>
  <link rel="shortcut icon" href="img/favicon.ico" />
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load( "visualization", "1", {packages:["corechart"]} );
    google.setOnLoadCallback( drawChart );
    function drawChart() {
      var month_data = new google.visualization.DataTable();
      {% for column in month_columns %}
        month_data.addColumn( "{{ column.type }}", "{{ column.name }}" );
      {% endfor %}
      month_data.addRows( [
        {% for date, row in month_data %}
          [ new Date( "{{ date }}" ), {{ row|join( "," ) }} ]{{ loop.last ? "" : "," }}
        {% endfor %}
      ] );

      var month_chart = new google.visualization.AreaChart( document.getElementById( 'month_chart' ) );
      var month_options = {
        title: "{{ month_title }}",
        chartArea: {
          left: "10%",
          top: "10%",
          width: "70%",
          height: "75%"
        }
      };

      var year_data = new google.visualization.DataTable();
      {% for column in year_columns %}
        year_data.addColumn( "{{ column.type }}", "{{ column.name }}" );
      {% endfor %}
      year_data.addRows( [
        {% for date, row in year_data %}
          [ new Date( "{{ date }}" ), {{ row|join( "," ) }} ]{{ loop.last ? "" : "," }}
        {% endfor %}
      ] );

      var year_chart = new google.visualization.AreaChart( document.getElementById( 'year_chart' ) );
      var year_options = {
        title: "{{ year_title }}",
        chartArea: {
          left: "10%",
          top: "10%",
          width: "70%",
          height: "75%"
        }
      };

      month_chart.draw( month_data, month_options );
      year_chart.draw( year_data, year_options );
    }
  </script>
</head>
<body>
  <div id="month_chart" style="width:100%; height:50%"></div>
  <div id="year_chart" style="width:100%; height:50%"></div>
</body>

</html>
