{##
 # appointment_add_cohort.twig
 # 
 # Add cohort to a appointment.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_add_list.twig for parameters
 #}

{% extends "base_add_list.twig" %}

{% block arguments %}
  {{ parent() }}
  args.grouping = $( "#{{ widget.full }}__grouping" ).val();
{% endblock arguments %}

{% block listing %}

  {{ parent() }}

  <div class="spacer"></div>
  <div id="{{ widget.compound }}_extra" class="ui-widget ui-widget-content app-widget-content">
    <table>
      <tr>
        <td class="heading">
          <span class="title">Grouping:</span>
        </td>
        <td class="content">
          <select id="{{ widget.full }}__grouping"
                  style="width: 100%"
                  class="ui-state-default">
            {% for grouping in grouping_list %}
              <option value="{{ grouping }}">{{ grouping }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
    </table>
  </div>

{% endblock listing %}
