{##
 # self_shortcuts.twig
 # 
 # Creates a list of shortcuts which are meant to be used under any circumstance.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param boolean navigation Whether to include the navigation buttons
 #}
{% extends "widget.twig" %}

{% block javascript %}

  <script type="text/javascript">
    $( function() {
      // make button icons
      {% if calculator %}
        $( "#{{ widget.full }}__calculator" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-calculator"
          }
        } ).click( function() {
          $( "#calculator_slot" ).dialog( {
            title: "Calculator",
            modal: false,
            width: 225,
            height: 320,
            autoOpen: true,
            beforeClose: function( event, ui ) { $(this).html( "" ); }
          } );
          slot_load( "calculator", "self", "calculator" );
        } ).parent().buttonset();
      {% endif %}
      
      {% if timezone_calculator %}
        $( "#{{ widget.full }}__timezone_calculator" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-contact"
          }
        } ).click( function() {
          $( "#timezone_calculator_slot" ).dialog( {
            title: "Timezone Calculator",
            modal: false,
            width: 300,
            height: 250,
            autoOpen: true,
            beforeClose: function( event, ui ) { $(this).html( "" ); }
          } );
          slot_load( "timezone_calculator", "self", "timezone_calculator" );
        } ).parent().buttonset();
      {% endif %}
      
      {% if navigation %}
        $( "#{{ widget.full }}__prev" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-arrowthick-1-w" }
        } ).click( function() {
          slot_prev( "main" );
        } );
        $( "#{{ widget.full }}__next" ).button( {
          text: false,
          icons: {
            primary: "ui-icon-arrowthick-1-e"
          }
        } ).click( function() {
          slot_next( "main" );
        } ).parent().buttonset();
      {% endif %}
      
      $( "#{{ widget.full }}__font_down" ).button( {
        text: false,
        icons: {
          primary: "ui-icon-minus"
        }
      } ).click( function() {
      } ).fontscale( "body", "down" );

      $( "#{{ widget.full }}__font_up" ).button( {
        text: false,
        icons: {
          primary: "ui-icon-plus"
        }
      } ).click( function() {
      } ).fontscale( "body", "up" ).parent().buttonset();

    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <span>
    <span>
      {% if calculator %}
        <button id="{{ widget.full }}__calculator">calculator</button>
      {% endif %}
      {% if timezone_calculator %}
        <button id="{{ widget.full }}__timezone_calculator">timezone calculator</button>
      {% endif %}
    </span>
    {% if navigation %}
      <span>
        <button id="{{ widget.full }}__prev">back</button>
        <button id="{{ widget.full }}__next">forward</button>
      </span>
    {% endif %}
    <span>
      <button id="{{ widget.full }}__font_down">smaller font</button>
      <button id="{{ widget.full }}__font_up">larger font</button>
    </span>
    {% block shortcuts %}{% endblock %}
  </span>

{% endblock widget %}
